input{
    width: 200px;
    position: relative;
}
#movies{
    background-color: white;
    height: 206px;
    width: 360px;
    border: 1px solid;
    overflow: scroll;
    grid-template-columns: 20% 40%;
    gap: 2%;
    display:none;
    position: relative;
    margin: auto;
    margin-top: -70px;
    z-index: 50;
}
#query{
    
}
#ui{
    display: grid;
    grid-template-columns: 25% 40%;
    grid-template-rows: 500px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
    /* column-gap: 5%;     */
}
#imgdiv,#infodiv{
    box-shadow: whitesmoke 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;        
    font-size: larger;
    background-color: aliceblue;
}
#infodiv{
    padding-left: 50px;
}
#imgdiv{
    margin-left: 20px;
}
img{
    width:100%;
    height: 100%;
    border-radius: 5px;
}
#searchDiv{
    margin: auto;
    text-align: center;
    height: 240px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    background-image: url('https://media.istockphoto.com/photos/chaotic-black-low-poly-surface-abstract-3d-render-picture-id944880340?b=1&k=20&m=944880340&s=170667a&w=0&h=TEeHm7H-f1GBjv9c0Ai6iAx3mHqAPLX_UNtz0-tOUms=');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1{
    margin-top: 50px;
    color: antiquewhite;
    font-style: oblique;
}
input{
    margin-top: 20px;
    width:20%;
    height: 40px;
    border-radius: 15px;
    border: transparent;
    font-size: larger;
    background-color: whitesmoke;
}
body{
    background-image: url('https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    }